@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Montserrat";
}
.city{
    font-family: "Montserrat";
    font-weight: bolder;
    color: black;
    position: absolute;
    height: auto;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.butt{
    font-family: "Montserrat";
    font-weight: bolder;
    color: black; 
}